.button__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 12px;
}

.like-icon {
  padding: 0;
}
.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color, #000000);
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 2px solid transparent;
  background: transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
  inline-size: 38px;
  block-size: 38px;
}

.card__like-button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 130px;
  height: 38px;
  padding: 10px 17px;
  border: 2px solid var(--text-color, #000);
  background: var(--page-background-color, #fff);
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.button_save {
  margin-bottom: 100px;
}

.button--save {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 15px 21px 15px 19px;
  border: 2px solid var(--text-color, #000);
  background: var(--page-background-color, #fff);
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--bg-color, #fff);
  color: var(--button-text-color, #000);
}

.button__text {
  align-self: center;
  position: relative;
  z-index: 1;
}

.modal__button {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--accent-clr, #000);
  background: transparent;
  color: var(--text-color, #fff);
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus,
.button--save:focus,
.modal__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-clr, #000);
  transition: box-shadow 0.3s ease;
}

.card__like-button::before,
.button--save::before,
.modal__button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-clr, #000);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.card__like-button:hover::before,
.button--save:hover::before,
.modal__button:hover::before {
  transform: translateX(0);
}

.card__like-button:hover .button__text,
.button--save:hover .button__text,
.modal__button:hover .button__text {
  color: var(--page-background-color, #fff);
  transition: color 0.3s ease-in-out;
}

.button__icon {
  block-size: 22px;
  inline-size: 22px;
}

@media (width < 380px) {
  .button--save {
    flex-direction: column;
    align-items: center;
  }
}