.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-section {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--content-width);
  min-height: clamp(20.4375rem, 19.285rem + 4.913vw, 23rem);
  padding: var(--header-padding);
  border: 2px solid var(--border-color);
  gap: 20px;
  background-color: var(--bg-color, #fff);
}

.header__title {
  font-family: var(--accent-font), fantasy;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  text-align: center;
}

.header__subtitle {
  font-family: var(--accent-font), fantasy;
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  line-height: 1;
  text-align: center;
}